body {
    font-family: Arial;
    background: #57c0f5d5;
    /* background:#7C3AED; */
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    background: #D4AF37;
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(71, 56, 233);
}
